{% extends "base.html" %}
{% block title %}Home{% endblock%}

{% block content %}
<div class="container">
<div class="row">
<h1>Willkommen bei Skintect</h1>
  <br>
<div class="row justify-content-center">
  <div class="card-columns">
    <div class="card mx-auto text-white bg-dark mb-3 w-75">
      <div class="card-body">
        <h5 class="card-title">Disclaimer</h5>
        <p class="card-text">
          Diese Anwendung dient keinem diagnostischen Zweck. Die ermittelte Zuordnung dient nur wissenschaftlichen Zwecken und besitzt lediglich eine Richtigkeit von 80 %.
        </p>
      </div>
    </div>
  </div>

    <div class="card-columns">
      <div class="card mx-auto text-white bg-dark mb-3 w-75 ">
        <div class="card-header"><h2>Wähle ein Bild deines Muttermals</h2></div>
        <div class="card-body">
          <p>
              {% with messages = get_flashed_messages(with_categories =true)%}
                {% if messages %}
                  <ul>
                  {% for category, message in messages %}
                  {% if category == 'error' %}
                  <div class="alert mx-auto alert-danger alter-dismissable fade show align-items-center d-flex " role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <h2>{{ message }}</h2>
                  </div>
                  {% else %}
                  <div class="alert mx-auto alert-success alter-dismissable fade show align-items-center d-flex " role="success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" iclass="bi flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    <h2>{{ message }}</h2>
                  </div>
                  {% endif %}
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
          </p>
    {% if filename %}
            <img src="{{ url_for('display_image', filename=filename) }}" class="rounded mx-auto d-block" style="width:100%">
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        </div>
        <div class="d-flex justify-content-center">
          <p>
              <input type="submit" value="Testen" class="btn btn-info">
          </p>
        </div>
    </form>
  </div>
</div>


<div class="card-columns">
  <div class="card mx-auto text-white bg-dark mb-3 w-75 ">
    <div class="card-header"><h2>Finde einen Hautarzt</h2></div>
      <div class="card-body">
        <form action="https://dermatologen-suche.de/ergebnisse/nach/allen-dermatologen/in/allen-orten/" method="post" name="main" target="_blank">
          <input type="hidden" name="action" value="form">
          <input type="hidden" name="formtyp" value="dermasuche5">
          <div class="form-group">
            <label for="plz"></label><input type="text" class="form-control input-plz" id="wo" placeholder="PLZ oder Ortsname" name="tx_kragdermatologistsbvdd_dermatologist[zipcity]">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <p>
              <button id="suchen" type="submit" class="btn btn-info">Suchen</button>
          </p>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>
</div>
<br>

{% endblock %}
